.row.forgot-pwd-main
  .container
    .row
      .col-xs-12
        .p.text-center
          %h2 Resend confirmation instructions
    .row
      .col-xs-12
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .field
            .row
              .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'email', class: 'resend-pwd-confirmation-input', id: 'resend-pwd-confirmation-input'
          .actions
            .p.text-center
              = f.submit 'Resend confirmation',  class: 'btn btn-resend-pwd-confirmation', id: 'btn-resend-pwd-confirmation'
              %br
              = render "users/shared/links"


