#categories-page.section.md-padding
  .container
    - if user_signed_in?
      .row
        .col-xs-12.col-sm-4.col-sm-offset-4
          .row
            .col-xs-12
              .p.text-center
                = link_to(new_category_path, {class: 'btn btn-primary btn-new-category', id: 'btn-new-category'}, :method => :get) do
                  = t('.new_category')
    .row.categories-page-row
      - @categories_with_images.each do |category|
        -if category[:image_key].present?
          .col-sm-4
            .categories-page
              .categories-page-img
                = image_tag category[:image_key].image.medium_thumb.url, class: 'img-responsive'
                .overlay
                  .categories-page-social
                    = link_to category_path(category[:category_key].slug) do
                      %i.fa.fa-picture-o
              .categories-page-content
                %h3
                  =category[:category_key].name
                %span Category
        -else
          .col-sm-4
            .categories-page
              .categories-page-img
                = image_tag "/assets/default.jpg", class: 'img-responsive'
                .overlay
                  .categories-page-social
                    = link_to category_path(category[:category_key].slug) do
                      %i.fa.fa-picture-o
              .categories-page-content
                %h3
                  =category[:category_key].name
                %span Category
