= image_tag "#{@image.image}"
= render "likes/like_form"
= render "comments/comments"
= form_for(current_user.comments.build(image_id: @image.id), url: image_comments_path(@image.id), html: { method: :post }, remote: true) do |f|
  = f.text_field :text
  = f.submit "Comment", class: "btn btn-large"
