#category-images.section.md-padding.bg-grey
  .container
    - if user_signed_in?
      .row
        .col-xs-12.col-sm-4.col-sm-offset-4
          .row
            .col-xs-6
              .p.text-center
                = render "subscriptions/subscription_form"
            .col-xs-6
              .p.text-center
                = link_to(new_image_path(@category.slug), {class: 'btn btn-primary btn-upload-images'}, :method => :get) do
                  = t('.upload_new_image')
    .row
      - @images.each do |image|
        .col-md-4.col-xs-6.images
          = image_tag image.image.medium_thumb.url, class: 'img-responsive'
          .overlay
          .images-content
            %span Category
            %h3
              = image.category.name
            .images-link
              = link_to single_category_image_path(image.category.id, image.id), {class: 'lightbox'} do
                %i.fa.fa-picture-o





-#.row
  .col-xs-12
    - if user_signed_in?
      .row#subscribe-row
        .col-xs-12
          %div{align: "center"}
            = render "subscriptions/subscription_form"
      .row
        .col-xs-12
          %div{align: "center"}
            = link_to(new_image_path(@category.slug), {class: 'btn btn-primary'}, :method => :get) do
              = t('.upload_new_image')
    .row
      - @images_with_likes.each do |image_hash|
        .col-xs-12
          %div{align: "center"}
            .thumbnail.single-cat-img-thumb
              = image_tag "#{image_hash[:image_key].image.url}", class: 'single-cat-img'
              .caption
                %div{align: "left"}
                  - if user_signed_in?
                    - if image_hash[:like_key] == nil
                      = render "likes/like_form_categories_img", local_form_image_id: image_hash[:image_key].id, local_form_likes_count: image_hash[:likes_count_key]
                    - if image_hash[:like_key] != nil
                      = render "likes/like_form_categories_img", local_form_image_id: image_hash[:image_key].id, local_form_like_id: image_hash[:like_key].id, local_form_likes_count: image_hash[:likes_count_key]

