= form_for @image, url: create_image_path, html: {multipart: true, method: :post, remote: true } do |form|
  #new_image_error_explanation
  .field
    = form.label :image
    %br/
    = form.file_field :image
  .field
    = form.hidden_field :user_id, value: current_user.id
  .actions
    = form.submit
