= form_for @image, html: {multipart: true } do |form|
  - if @image.errors.any?
    #error_explanation
      %h2
        = pluralize(@image.errors.count, "error")
        prohibited this pet from being saved:
      %ul
        - @image.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :category_id
    %br/
    = form.number_field :category_id
  .field
    = form.label :image
    %br/
    = form.file_field :image
    - if form.object.image?
      = image_tag form.object.image
      = form.label :remove_image
      = form.check_box :remove_image
  .actions
    = form.submit
