.row
  .col-xs-12
    .thumbnail
      = image_tag "#{@image.image}"
      .caption
      - if user_signed_in?
        = render "likes/like_form"
    .col-xs-12
      .thumbnail.comments-box-thumbnail
        - if user_signed_in?
          = form_for(current_user.comments.build(image_id: @image.id), url: image_comments_path(@image.id), html: { method: :post }, remote: true) do |f|
            = f.text_area :text, class: "input-comment"
            %div{align: "right"}
              = f.submit "Comment", class: "btn btn-primary btn-comment"
        #comments-container
          = render "comments/comments_container"

