%p#notice= notice
%p
  %strong Image:
  = @image.image
%p
  %strong Category:
  = @image.category_id
%p
  %strong Like
  #like_form
  - if current_user.likes?(@image)
    -#= link_to "Unlike", likes_destroy_path(image_id: @image.id), method: :delete, remote: true
    = link_to("UnLike", :controller => "likes", :action => "destroy", :image_id => @image.id, method: :delete, remote: true)
  - else
    = link_to("Like", :controller => "likes", :action => "create", :image_id => @image.id, method: :post, remote: true)
    -#= link_to "Like", likes_create_path(image_id: @image.id), method: :post, remote: true
    -#= form_for(current_user.likes.build(image_id: @image.id), remote: true) do |f|
    -#  = f.hidden_field :image_id
    -#  = f.submit "Like", class: "btn btn-large btn-primary"
%p
  %strong Image:
  = image_tag "#{@image.image}"
= link_to 'Edit', edit_image_path(@image)
|
= link_to 'Back', images_path
