#image.section.md-padding
  .container
    .row
      %main#main.col-md-9
        .image
          .image-img
            = image_tag @image.image, class: 'img-responsive'
          .image-content
            %ul.image-meta
              %li
                %i.fa.fa-user>
                =@image.user.name
              %li
                %i.fa.fa-clock-o>
                =time_ago_in_words(@image.created_at)
              %li
                %i.fa.fa-comments>
                = @image.comments.size
              - if user_signed_in?
                %li
                  = render "likes/like_form"
          .image-comments
            #image-comments
              = render "comments/comments_count"
            .image
              .col-xs-12.main-comments-container
                = render "comments/comments_container"
          - if user_signed_in?
            = form_for(current_user.comments.build(image_id: @image.id), url: image_comments_path(@image.id), remote: true) do |f|
              = f.text_area :text, class: "input-comment", id: 'input-comment'
              %div{align: "right"}
                = f.submit t('.send_comment'), class: "btn btn-comment", id: 'btn-comment'
