%header.nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Capitalsav", root_path, class: "navbar-brand"

    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Categories
            %span.caret
          %ul.dropdown-menu
            - @top_categories.each do |category|
              %li
                = link_to "#{category.name}", single_category_path(category.slug), :method => :get
            %li.divider
            %li
              = link_to "All Categories", categories_path
        %li
          = link_to "Images", images_path
        %li
          = link_to "Comments", comments_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to '<i class="glyphicon glyphicon-user"></i> Profile'.html_safe, profile_path
          %li
            = link_to '<i class="glyphicon glyphicon-log-out"></i> Log out'.html_safe, destroy_user_session_path, method: :delete
        - else
          %li
            = link_to '<i class="glyphicon glyphicon-user"></i> SignUp'.html_safe, new_user_registration_path
          %li
            = link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe, new_user_session_path