.row.main-auth-row
  .col-xs-12
    .row
      .col-xs-12
        .auth-form-container.auth-form-container-size
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            = f.text_field :name, :placeholder => 'name', :class => 'auth-input'
            = f.text_field :email, placeholder: 'email', :class => 'auth-input'
            = f.password_field :password, :placeholder => 'password', :class => 'auth-input'
            = f.password_field :password_confirmation, :placeholder => 'password confirmation', :class => 'auth-input'
            %span.btn.btn-success.btn-file{:id => 'avatar-sign-up-button'}
              %p#p-sign-up-avatar Choose avatar
              \#{f.file_field :avatar, :id => 'avatar-sign-up'}
            = f.submit 'Sign Up', class: 'btn btn-success button-auth'
          %p.auth-users-shared-links
            = render "users/shared/links"
          .auth-form-bottom-empty-space
